<!DOCTYPE html>
<html>
<head>
  <title>UBookShare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>

    <%= link_to("Home", {:action => 'index'}) %>
    <%= link_to("Search for a Book", {:action => 'search'}) %>
</body>
</html>
