<!DOCTYPE html>
<html>
<head>
  <title>UBookShare</title>
  <%= stylesheet_link_tag    "public", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page" class="homeContainer">
    	<header id="head" role="banner">
    		<div class="head-inner">
    			<hgroup id="logohead">
    				<h1 id="site-title">
						<%= link_to image_tag('/images/ubs_logo_bw_v03_115x52.png'), {:controller => 'bookfinder', :action => 'index'} %>
    				</h1>
    			</hgroup>
    			<nav id="access" role="navigation">
    				<div class="primary-nav-menu-container">
    					<ul id="menu-primary-nav">
    						<li id="menu-item">
    							<%= link_to("Find a Book", {:controller => 'bookfinder', :action => 'search'}) %>
    						</li>
    						<li id="menu-item">
    							<%= link_to("Sell a Book", {:controller => 'posts', :action => 'new'}) %>
    						</li>
    						<li id="menu-item">
    							<%= link_to("Sign Up", {:controller => 'bookfinder', :action => 'index'}, {:style => 'color: #98cbff;'}) %>
    						</li>
    					</ul>
    				</div>
    			</nav>
    		</div>
    	</header>

	    <%= yield %>
	
    </div>
</body>
</html>
